In [3]:
#1.1 Unpacking a Sequence into Separate Variables

data = ['user1', 1234, (2022, 9, 26)]
username, pin, (year, month, day) = data
print(data)

['user1', 1234, (2022, 9, 26)]

In [6]:
pin

1234

In [1]:
#1.2 Unpacking Elements from Iterable of Arbitrary Length

all_prices = [10.99, 11.29, 13.49, 9.99, 10.59]

*trailing_prices, current_prices = all_prices
trailing_avg = sum(trailing_prices)/len(trailing_prices)
return avg_price_comparison(trailing_prices, current_prices)

*trailing_prices, current_prices = [10.99, 11.29, 13.49, 9.99, 10.59]
trailing_prices

SyntaxError: 'return' outside function (3357376266.py, line 7)

In [7]:
#1.3 Keeping the Last N Itmes

from collections import deque

def search(lines, pattern, history=3):
    previous_lines = deque(maxlen=history)
    for line in lines:
        if pattern in line:
            yield line, previous_lines

In [10]:
q = deque(maxlen=4)
deque([56,45,55], maxlen=4)
q.append(66)

deque([66])

In [11]:
q.append(57)
q.append(78)
q.append(6)
q.append(99)
q

deque([57, 78, 6, 99])

In [12]:
#1.4 Finding the Largest or Smallest N Items

import heapq

tickets = [
    {'Team':'Athletics', 'Price': 27.99},
    {'Team':'Red Sox', 'Price': 45.79},
    {'Team': 'Yankees', 'Price': 50.29},
    {'Team': 'Giants', 'Price': 34.89},
    {'Team': 'Angels', 'Price': 35.99}
]

cheap = heapq.nsmallest(2, tickets, key=lambda s: s['Price'])
print(cheap)

[{'Team': 'Athletics', 'Price': 27.99}, {'Team': 'Giants', 'Price': 34.89}]

In [16]:
expensive = heapq.nlargest(2, tickets, key=lambda s: s['Price'])
print(expensive)

[{'Team': 'Yankees', 'Price': 50.29}, {'Team': 'Red Sox', 'Price': 45.79}]

In [29]:
#1.5 Implementing a Priority Queue

class PriorityQueue:
    def __init__(self):
        self._queue = []
        self._index = 0
    def push(self, item, priority):
        heapq.heappush(self._queue, (-priority, self._index, item))
        self._index +=1
    def pop(self):
        return heapq.heappop(self._queue)[-1]

class Chores:
    def __init__(self, name):
        self.name = name
    def __repr__(self):
        return 'Item({!r})'.format(self.name)
    
q = PriorityQueue()

q.push(Chores('Python'), 5)
q.push(Chores('Laundry'), 2)
q.push(Chores('Dishes'), 2)
q.push(Chores('Meal Prep'), 4)
q.push(Chores('Homework'), 3)

In [30]:
q.pop() #should result with 'Python' as it has the highest priority

Item('Python')

In [46]:
#1.6 Mapping Keys to Multiple Values in a Dictionary

from collections import defaultdict

d = defaultdict(list)

d['Users'].append('Jason')
d['Users'].append('Michael')
d['PIN'].append(1234)
d['PIN'].append(5678)

print(d)

defaultdict(<class 'list'>, {'Users': ['Jason', 'Michael'], 'PIN': [1234, 5678]})

In [47]:
#1.7 Keeping Dictionaries in Order

from collections import OrderedDict

threat_level = OrderedDict()

threat_level['Urgent'] = 5
threat_level['High'] = 4
threat_level['Medium'] = 3
threat_level['Low'] = 2
threat_level['Clear'] = 0

import json

json.dumps(threat_level)

'{"Urgent": 5, "High": 4, "Medium": 3, "Low": 2, "Clear": 0}'

In [8]:
#1.8 Calculating with Dictionaries

grocery_items = {
    'Apple': 0.99,
    'Steak': 10.99,
    'Celery': 2.99,
    'Carrots': 1.59,
    'Potatoes': 5.99,
    'Turkey': 12.99
}

cheapest_item = min(zip(grocery_items.keys(), grocery_items.values()))

priciest_item = max(zip(grocery_items.keys(), grocery_items.values()))

item_prices_sorted = sorted(zip(grocery_items.keys(), grocery_items.values()))

print(cheapest_item)
print(priciest_item)
print(item_prices_sorted)

('Apple', 0.99)
('Turkey', 12.99)
[('Apple', 0.99), ('Carrots', 1.59), ('Celery', 2.99), ('Potatoes', 5.99), ('Steak', 10.99), ('Turkey', 12.99)]

In [41]:
#1.9 Finding Commonalities in Two Dictionaries

phonebook_1 = {
    'Jack': '123-456-8709',
    'Cary': '888-873-9082',
    'Kayla': '542-123-6523'
}

phonebook_2 = {
    'Kevin': '456-380-9763',
    'Tom': '458-985-2856',
    'Cary': '888-873-9082',
}

#Find (key,value) pairs in common
phonebook_1.items() & phonebook_2.items()

{('Cary', '888-873-9082')}

In [12]:
#Find keys in common
phonebook_1.keys() & phonebook_2.keys()

{'Cary'}

In [13]:
#Find keys on phonebook_1 that are NOT in phonebook_2
phonebook_1.keys() - phonebook_2.keys()

{'Jack', 'Kayla'}

In [15]:
#1.10 Removing Duplicates from a Sequence while Maintaining Order

def merge(phonebook_1, phonebook_2):
    result = phonebook_1 | phonebook_2 #keys in dict are unique, there will be no duplicates
    return result

phonebook_3 = merge(phonebook_1, phonebook_2)
print(phonebook_3)

{'Jack': '123-456-8709', 'Cary': '888-873-9082', 'Kayla': '542-123-6523', 'Kevin': '456-380-9763', 'Tom': '458-985-2856'}

In [32]:
user_list = ['Jack', 'Cary', 'Cary', 'Tom', 'Kevin', 'Jack', 'Kayla']

def rm_duplicate(items):
    seen = set()
    for item in items:
        if item not in seen:
            yield item
            seen.add(item)
            
list(rm_duplicate(user_list))

['Jack', 'Cary', 'Tom', 'Kevin', 'Kayla']

In [66]:
user_num = [
    {'Cary':8, 'Kevin':9}, 
    {'Cary':8, 'Kevin':9}, 
    {'Cary':8, 'Kevin':9}, 
    {'Cary':6, 'Kevin':9}, 
    {'Cary':6, 'Kevin':1}
]

def rm_duplicate(items, key=None):
    seen = set()
    for item in items:
        val = item if key is None else key(item)
        if val not in seen:
            yield item
            seen.add(val)
            
list(rm_duplicate(user_num, key=lambda d: (d['Cary'], d['Kevin'])))

[{'Cary': 8, 'Kevin': 9}, {'Cary': 6, 'Kevin': 9}, {'Cary': 6, 'Kevin': 1}]

In [55]:
#1.11 Naming a Slice

menu_items = ['Pizza', 'Sushi', 'Beer', 'Salmon', 'Wings', 'Coffee']

my_meal = slice(2,3) #item number(index) -> between items 2 and 3 will return first item
menu_items[2:3]
menu_items[my_meal]

['Beer']

In [49]:
#1.12 Determining the Most Frequently Occurring Items in a Sequence

lyrics = "We will We will Rock you"

words = lyrics.split()
print(words)

['We', 'will', 'We', 'will', 'Rock', 'you']

In [50]:
from collections import Counter

word_counts = Counter(words)
top_two = word_counts.most_common(2)
print(top_two)

[('We', 2), ('will', 2)]

In [51]:
word_counts['you']

1

In [2]:
#1.13 Sorting a List of Dictionaries by a Common Key

login_creds =[
    {'User': 'Jack', 'uid': '0001', 'pin': '1234'},
    {'User': 'Kayla', 'uid': '0002', 'pin': '1275'},
    {'User': 'Kevin', 'uid': '0003', 'pin': '8362'},
    {'User': 'Cary', 'uid': '0004', 'pin': '0462'}
]

from operator import itemgetter

login_creds_by_User = sorted(login_creds, key=itemgetter('User')) #output will be in alphabetical order
login_creds_by_uid = sorted(login_creds, key=itemgetter('uid')) #output will be ordered by num ascension

print(login_creds_by_User)
print(login_creds_by_uid)

[{'User': 'Cary', 'uid': '0004', 'pin': '0462'}, {'User': 'Jack', 'uid': '0001', 'pin': '1234'}, {'User': 'Kayla', 'uid': '0002', 'pin': '1275'}, {'User': 'Kevin', 'uid': '0003', 'pin': '8362'}]
[{'User': 'Jack', 'uid': '0001', 'pin': '1234'}, {'User': 'Kayla', 'uid': '0002', 'pin': '1275'}, {'User': 'Kevin', 'uid': '0003', 'pin': '8362'}, {'User': 'Cary', 'uid': '0004', 'pin': '0462'}]

In [4]:
#1.14 Sorting Objects Without Native Comparison Support

class User:
    def __init__(self, user_id):
        self.user_id = user_id
        
    def __repr__(self):
        return 'User({})'.format(self.user_id)
    
team_1 = [
    User(43),
    User(67),
    User(8),
    User(123)
]

team_1

[User(43), User(67), User(8), User(123)]

In [5]:
sorted(team_1, key=lambda t: t.user_id) #sorted by asc num/value

[User(8), User(43), User(67), User(123)]

In [6]:
from operator import attrgetter #alternative to using lambda

sorted(team_1, key=attrgetter('user_id'))

[User(8), User(43), User(67), User(123)]

In [9]:
#1.15 Grouping Records Together Based on a Field

from operator import itemgetter
from itertools import groupby

participants = [
    {'player':'Tom', 'team':'3'},
    {'player':'Chris', 'team':'2'},
    {'player':'Jerry', 'team':'1'},
    {'player':'Tyler', 'team':'3'},
    {'player':'Drew', 'team':'2'},
    {'player':'Gary', 'team':'1'},
    {'player':'Mike', 'team':'3'},
    {'player':'Mason', 'team':'1'}
]

participants.sort(key=itemgetter('team')) #sort by desired field, this is a preliminary step, groupby() examines consecutive items

for team, items in groupby(participants, key=itemgetter('team')): #iterate in groups
    print(team)
    for i in items:
        print('', i)

1
 {'player': 'Jerry', 'team': '1'}
 {'player': 'Gary', 'team': '1'}
 {'player': 'Mason', 'team': '1'}
2
 {'player': 'Chris', 'team': '2'}
 {'player': 'Drew', 'team': '2'}
3
 {'player': 'Tom', 'team': '3'}
 {'player': 'Tyler', 'team': '3'}
 {'player': 'Mike', 'team': '3'}

In [10]:
#1.16 Filtering Sequence Elements

import random

num_list = random.sample(range(-10,10), 8)
print(num_list)

[4, 8, -1, -10, -2, 0, -4, 3]

In [11]:
[n for n in num_list if n > 0]

[4, 8, 3]

In [12]:
[n for n in num_list if n < 0]

[-1, -10, -2, -4]

In [50]:
clip_neg = [n if n > 0 else 'null' for n in num_list]
clip_neg

[4, 8, 'null', 'null', 'null', 'null', 'null', 3]

In [22]:
#1.17 Extracting a Subset of a Dictionary

qb_rating = {
    'Derek Carr': 100.1,
    'Josh Allen': 87.2,
    'Tom Brady': 101.8,
    'Aaron Rodgers': 99.9,
    'Jimmy G': 82.7    
}

bad_qb = { key:value for key, value in qb_rating.items() if value < 99.9} #dict for qbs with rating less than 99.9
print(bad_qb)

{'Josh Allen': 87.2, 'Jimmy G': 82.7}

In [24]:
qb_names ={
    'Derek Carr',
    'Tom Brady',
    'Aaron Rodgers',
    'Russell Wilson',
    'Patrick Mahomes'
}

nfl_qb = {key:value for key, value in qb_rating.items() if key in qb_names} #dict for qb and their ratings (matched with another dict)
print(nfl_qb)

{'Derek Carr': 100.1, 'Tom Brady': 101.8, 'Aaron Rodgers': 99.9}

In [25]:
#1.18 Mapping Names to Sequence Elements

from collections import namedtuple

Member = namedtuple('Member', ['name', 'id'])
club_member = Member('Joe', '1000293')

club_member.name

'Joe'

In [28]:
club_member.id

'1000293'

In [38]:
#1.19 Transforming and Reducing Data at the Same Time

import os

files = os.listdir('./') #Current directory
if any(name.endswith('.ipynb') for name in files):
    print("Yo that's python")
else:
    print("Nah, no python")

Yo that's python

In [40]:
Eng_Team = [
    {'player': 'Harry Kane', 'rating': '90'},
    {'player': 'Harry Mcguire', 'rating': '81'},
    {'player': 'Phil Foden', 'rating': '84'},
    {'player': 'Jack Grealish', 'rating': '85'},
    {'player': 'Eric Dier', 'rating': '79'}
]

min_rating = min(r['rating'] for r in Eng_Team) #lowest rating in Eng_Team
print(min_rating)

79

In [43]:
#1.20 Combining Multiple Mappings into a Single Mapping

USA_Team = [
    {'player': 'Christian Pulisic', 'rating': '82'},
    {'player': 'Gio Reyna', 'rating': '79'},
    {'player': 'Weston Mckinnie', 'rating': '78'},
    {'player': 'Sergino Dest', 'rating': '79'},
    {'player': 'Tyler Adams', 'rating': '79'}
]

In [49]:
from collections import ChainMap

player_lookup = ChainMap(USA_Team,Eng_Team)

print(player_lookup['player']) #All players on both teams

TypeError: list indices must be integers or slices, not str

In [51]:
print(player_lookup)

ChainMap([{'player': 'Christian Pulisic', 'rating': '82'}, {'player': 'Gio Reyna', 'rating': '79'}, {'player': 'Weston Mckinnie', 'rating': '78'}, {'player': 'Sergino Dest', 'rating': '79'}, {'player': 'Tyler Adams', 'rating': '79'}], [{'player': 'Harry Kane', 'rating': '90'}, {'player': 'Harry Mcguire', 'rating': '81'}, {'player': 'Phil Foden', 'rating': '84'}, {'player': 'Jack Grealish', 'rating': '85'}, {'player': 'Eric Dier', 'rating': '79'}])

In [52]:
player_lookup.items()

ItemsView(ChainMap([{'player': 'Christian Pulisic', 'rating': '82'}, {'player': 'Gio Reyna', 'rating': '79'}, {'player': 'Weston Mckinnie', 'rating': '78'}, {'player': 'Sergino Dest', 'rating': '79'}, {'player': 'Tyler Adams', 'rating': '79'}], [{'player': 'Harry Kane', 'rating': '90'}, {'player': 'Harry Mcguire', 'rating': '81'}, {'player': 'Phil Foden', 'rating': '84'}, {'player': 'Jack Grealish', 'rating': '85'}, {'player': 'Eric Dier', 'rating': '79'}]))

In [53]:
list(player_lookup)

TypeError: unhashable type: 'dict'