In [62]:
python --version

NameError: name 'python' is not defined

In [63]:
pip -V

pip 21.2.4 from C:\Users\gpoon\anaconda3\lib\site-packages\pip (python 3.9)

Note: you may need to restart the kernel to use updated packages.

In [64]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp39-cp39-win_amd64.whl (7.8 MB)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\gpoon\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30
Note: you may need to restart the kernel to use updated packages.

In [65]:
import mysql.connector

In [66]:
conn = mysql.connector.connect(host="localhost", user='root', password='secret')

In [67]:
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001ABFD044220>

In [16]:
#conn.close() #will disconnect server

In [93]:
cursorObject = conn.cursor(buffered=True)

In [69]:
cursorObject.execute("create database training")

DatabaseError: 1007 (HY000): Can't create database 'training'; database exists

In [70]:
conn = mysql.connector.connect(host="localhost", user='root', password='secret', database="training")
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001ABFD274AC0>

In [71]:
cursorObject = conn.cursor()

In [72]:
cursorObject.execute("CREATE TABLE Students(name VARCHAR(255), roll_num int);")

ProgrammingError: 1050 (42S01): Table 'students' already exists

In [73]:
cursorObject.execute("INSERT INTO Students values('Merkis', 1)")

In [74]:
conn.commit()

In [ ]:
#conn.rollback()

In [75]:
sql = "INSERT INTO Students (name, roll_num) VALUES (%s, %s)"

val = [
    ("Gavin", "2"),
    ("Jeremy", "3"), 
    ("Kevon", "4")
]

In [76]:
cursorObject.executemany(sql, val)

In [77]:
conn.commit()

In [136]:
val = ("Frank", "5")

cursorObject.execute(sql, val)

In [137]:
conn.commit()

In [138]:
cursorObject.execute("SELECT * FROM Students ORDER BY name")

In [139]:
result = cursorObject.fetchall()

In [140]:
for x in result:
    print(x)

('Frank', 5)
('Gavin', 2)
('Gavin', 2)
('Gavin', 2)
('Jeremy', 3)
('Jeremy', 3)
('Jeremy', 3)
('Merkis', 1)
('Merkis', 1)
('Merkis', 1)

In [148]:
cursorObject.execute("DELETE FROM Students where roll_num > 3")

In [149]:
conn.commit()

In [150]:
result = cursorObject.fetchall()

TypeError: 'NoneType' object is not subscriptable

In [151]:
for x in result:
    print(x)

('Frank', 5)
('Gavin', 2)
('Gavin', 2)
('Gavin', 2)
('Jeremy', 3)
('Jeremy', 3)
('Jeremy', 3)
('Merkis', 1)
('Merkis', 1)
('Merkis', 1)

In [94]:
cursorObject.execute("SELECT name, roll_num, COUNT(*) AS CNT FROM Students GROUP BY name, roll_num HAVING COUNT(*) > 1")

In [95]:
conn.commit()

In [91]:
result = cursorObject.fetchall()

In [96]:
for x in result:
    print(x)

('Merkis', 1, 3)
('Gavin', 2, 3)
('Jeremy', 3, 3)

In [ ]:
cursorObject.execute("drop database training")